@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* GLOBAL */
.container{
    max-width: 1199px;
    margin: auto;
}
.btn__gradient{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
}

/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content nav {
    display: flex;
    align-items: center;
}
.header__content nav ul {
    display: flex;
    margin-right: 30px;
}
.header__content nav ul li{
    list-style: none;
    padding: 55px 15px;
}
.header__content span{
    display: inline-block;
    font-size: 15px;
}
.header__content nav ul li i{
    font-size: 9px;
    line-height: 1;
    text-rendering: auto;
}
/* BANNER (NHANH)*/
/* SERVICE (NHANH)*/
/* ABOUT US */
/* NUMBER (NHANH) */
/* FEATURE */
/* PORTFOLIO (NHANH-GRID)*/
/* BLOG (NHANH)*/
/* FOOTER (NHANH)*/